*.log
.idea
*.zip
/*.php
/*.txt
/*.html
/.htaccess
/services-panel
/wp-admin
/wp-backups
/wp-cache
/wp-configs
/wp-logs
/wp-db
/wp-downloads
/wp-includes
/wp-content/uploads
/wp-content/themes
/wp-content/plugins/advanced-custom-fields-pro
/wp-content/plugins/assistant
/wp-content/plugins/bb-plugin
/wp-content/plugins/classic-editor
/wp-content/plugins/disable-gutenberg
/wp-content/plugins/duplicator
/wp-content/plugins/gravityforms
/wp-content/plugins/ultimate-dashboard
/wp-content/plugins/ultimate-dashboard-pro
/wp-content/plugins/wpbf-premium

